p{
    margin-left: 4px;
}

.img{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 30px;
   text-align: center;
   font-weight: bold;
}

h1{
    font-size: 26px;

}

h3{
    font-size: 18px;
}

ion-img{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}