p{
    margin-left: 4px;
}

ion-img{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}




ion-content{
    margin: 12px;
}

h2{
    font-size: 30px;
   text-align: center;
   font-weight: bold;
}

h1{
    font-size: 26px;

}

h3{
    font-size: 20px;
}

.logo{
    width: 200px;
}