<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-row>
      <ion-col size="12" size-lg="6" size-xl="9">
        <ion-title>
         🏳️‍🌈Pride
        </ion-title>
      </ion-col>


      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/login">Login</ion-button>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/cadastrar">Cadastrar-se</ion-button>
      </ion-col>
     </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Leonardo Da Vinci</h2>

  <h3>Vida</h3>
  <p>Leonardo da Vinci,nasceu em 15 de Abril de 1454,na Vila de Vinci,na Itália.Era filho de uma camponesa e um
    tabelião,mas foi educado ela madrasta e a avó.É válido destacar que seu verdadeiro sobrenome não é Da Vinci,
    essa denominação é usada pelo fato de "Vinci" ser o nome da vila onde nasceu.<br>
    O artista passou sua juventude em Valencia,mas morou em Roma,Milão e,por fim,França.Desde sempre,foi um
    homem muito criativo,e tinha a grande habilidade de mesclar arte e ciência.Da Vinci faleceu aos 67 anos,
    no dia 2 de maio de 1519,na França.
  </p>

  <img alt="Silhouette of mountains" src="https://tse1.mm.bing.net/th?id=OIP._alvSlsuinV1Z3ZS6BUJ2wHaFj&pid=Api&P=0&h=180" />

  <h3>Obras</h3>

  <ion-row>
    <ion-col size="6" size-lg="6" size-xl="2">
      <ion-card>
        <img alt="Monalisa" src="https://tse4.mm.bing.net/th?id=OIP.ZIvq9oKdubjd7EwbZjUa7gHaF7&pid=Api&P=0&h=180" />
      </ion-card>
    </ion-content>
    
    </ion-col>
  </ion-row>
<ion-footer>
  <ion-toolbar>
    <ion-title>Agradecemos pelo Apoio!</ion-title>
  </ion-toolbar>
</ion-footer>

