.logo{
    width: 200px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida  Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}