.full-height {
    height: 100vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
  }
  
  .plano-de-fundo{
     --background: url('https://t4.ftcdn.net/jpg/04/37/32/81/360_F_437328125_77MFKW3aKhwziunwCR4fz5BPtjiA4O91.jpg') no-repeat center center / cover;
  }
  
  .titulo {
    color:black;
    font-size:2rem;
    text-shadow: 2px 2px 2px black;
  }