<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SisPet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8" size-xl="6">

      <ion-list [inset]="true">
        <ion-item routerLink="/cadastrar-animal">
          <ion-label>Cadastrar Animal</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item routerLink="/visualizar-animal">
          <ion-label>Visualizar Animal</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item routerLink="/consultar-animal">
          <ion-label>Consultar Animal</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item routerLink="/editar-animal">
          <ion-label>Editar Animal</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>




      </ion-list>

    </ion-col>
  </ion-row>
</ion-content>

