
<ion-content [fullscreen]="true" style="background-color: #ddba60;
">
 

<h1>Instituto Paulo Gustavo</h1>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="comunidade">
      <ion-icon name="play-circle" routerLink="/trans"> </ion-icon>
     Comunidade Trans      
    </ion-tab-button>

    <ion-tab-button tab="radio">
   <ion-icon name="accessibility-outline" routerLink="/ongs"></ion-icon>
        ONGS      
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library" routerLink="/figuras"></ion-icon>
    Figuras      
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search" routerLink="/trans"></ion-icon>
      Entrevistas      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<p align="center" top="300px">
  <img margin-top="200px" src="https://img.freepik.com/vetores-gratis/casais-e-familias-comemorando-o-dia-do-orgulho_52683-36799.jpg?w=826&t=st=1691070651~exp=1691071251~hmac=7a1faed96c3c18ee3d4aead1df4c1c2f7da6693565fce1d2ac78be82d15398df">
</p>









</ion-content>


  