
<ion-content [fullscreen]="true">
 

<h1>Instituto Paulo Gustavo</h1>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="comunidade">
      <ion-icon name="play-circle"></ion-icon>
     Comunidade Trans      
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
        ONGS      
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
    Figuras      
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Entrevistas      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>


  