<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-row>
      <ion-col size="12" size-lg="6" size-xl="9">
        <ion-title routerLink="/home">
         🏳️‍🌈Pride
        </ion-title>
      </ion-col>


      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/login">Login</ion-button>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/cadastrar">Cadastrar-se</ion-button>
      </ion-col>
     </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Figuras Importantes LGBTQUIA+</h2>
  <p>Aqui você encontrará histórias inspiradoras de pessoas que desempenharam um papel fundamental 
    na luta pelos direitos e pela visibilidade da diversidade sexual e de gênero. Desde líderes ativistas
   até artistas visionários, queremos compartilhar com você as contribuições e conquistas desses indivíduos
   que ajudaram a moldar e transformar nossa sociedade. Junte-se a nós enquanto exploramos as vidas 
   e o legado dessas figuras notáveis, destacando sua coragem, resiliência e impacto duradouro na busca
   pela igualdade e inclusão para todos.</p>

  <ion-segment  color="danger" value="default">
    <ion-segment-button  value="figuras">
      <ion-label>Figuras Históricas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="celebridades">
      <ion-label>Celebridades Atuais</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="12" size-lg="12" size-xl="4">
      <ion-card routerLink="/davinci">
        <img alt="Silhouette of mountains" src="https://tse1.mm.bing.net/th?id=OIP._alvSlsuinV1Z3ZS6BUJ2wHaFj&pid=Api&P=0&h=180" />
        <ion-card-header>
          <ion-card-title>Leonardo Da Vinci</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Apesar de não haver certezas se era realmente homossexual,não deixa de ser uma figura importante 
          para a comunidade.
        </ion-card-content>
      </ion-card>
    
    </ion-col>
  </ion-row>
</ion-content>


  <ion-footer>
    <ion-toolbar>
      <ion-title>Agradecemos pelo Apoio!</ion-title>
    </ion-toolbar>
  </ion-footer>
  
