<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-row>
      <ion-col size="12" size-lg="6" size-xl="9">
        <ion-title>
         🏳️‍🌈Pride
        </ion-title>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/login">Login</ion-button>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/cadastro">Cadastrar-se</ion-button>
      </ion-col>
     </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h2>Ajude a Comunidade LGBT!</h2>
  
  <ion-row>
    <ion-col size="12" size-lg="4" size-xl="3">
      <ion-card>
        <img alt="Bandeira Love is Love" src="https://export-download.canva.com/POO8Y/DAFk36POO8Y/6/0/0001-4560288131946930350.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20230614%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230614T194324Z&X-Amz-Expires=69188&X-Amz-Signature=a746df1b2a15c279e9b1cede60339448f1355d14308fc3f836ffd76e3366af48&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27proud.png&response-expires=Thu%2C%2015%20Jun%202023%2014%3A56%3A32%20GMT" />
        <ion-card-header>
          <ion-card-title routerLink="">Comunidade TRANS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" size-xl="3">
      <ion-card>
        <img alt="Bandeira Love is Love" src="https://export-download.canva.com/POO8Y/DAFk36POO8Y/13/0/0001-5109727290045333352.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20230615%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230615T092449Z&X-Amz-Expires=17513&X-Amz-Signature=9a01421b15ea2bfa52d6d1948ffe3f88928d4c54b31b4ff4b8ae074677097988&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27proud.png&response-expires=Thu%2C%2015%20Jun%202023%2014%3A16%3A42%20GMT" />
        <ion-card-header>
          <ion-card-title>ONGS Da Comunidade LGBT</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" size-xl="3">
      <ion-card>
        <img alt="Bandeira Love is Love" src="https://export-download.canva.com/POO8Y/DAFk36POO8Y/23/0/0001-4909317105370479327.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20230615%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230615T015428Z&X-Amz-Expires=47745&X-Amz-Signature=ab9aeabc0d8b2ec9c173799a128d0398282851d3f1919ee637625f9b38d60eb8&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27proud.png&response-expires=Thu%2C%2015%20Jun%202023%2015%3A10%3A13%20GMT" />
        <ion-card-header>
          <ion-card-title>Comunidade Lgbt</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col size="12" size-lg="4" size-xl="3">
      <ion-card>
        <img alt="Bandeira Love is Love" src="https://export-download.canva.com/POO8Y/DAFk36POO8Y/26/0/0001-870714140262245021.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20230615%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230615T075116Z&X-Amz-Expires=24753&X-Amz-Signature=cfc7db67188f495536d9801068afb2da0b98b2df14cb17824d8a7005b28d375e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27proud.png&response-expires=Thu%2C%2015%20Jun%202023%2014%3A43%3A49%20GMT" />
        <ion-card-header>
          <ion-card-title>Entrevistas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Agradecemos pelo Apoio!</ion-title>
  </ion-toolbar>
</ion-footer>

