<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-row>
      <ion-col size="12" size-lg="6" size-xl="9">
        <ion-title routerLink="/home">
          <img class="logo"  src="https://64.media.tumblr.com/e07e2737cce1ab04859269969b3b0304/d4aee0a222e8f854-3f/s540x810/b86b55295d5df51aefe4e4360a462a334ab0ba2d.jpg" alt="">
        </ion-title>
      </ion-col>


      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/login">Login</ion-button>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/cadastrar">Cadastrar-se</ion-button>
      </ion-col>
     </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">entrevistas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
