<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-row>
      <ion-col size="12" size-lg="6" size-xl="9">
        <ion-title>
          🏳️‍🌈Pride
        </ion-title>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/login">Login</ion-button>
      </ion-col>

      <ion-col size="6" size-lg="4" size-xl="1">
        <ion-button color="danger" shape="rounded" routerLink="/cadastro">Cadastrar-se</ion-button>
      </ion-col>
     </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Ajude a Comunidade LGBT!</h2>
  
  <ion-row>
    <ion-col size="12" size-lg="4" size-xl="4">
      <ion-card>
        
        <img alt="Bandeira Love is Love" src="https://images.pexels.com/photos/1280638/pexels-photo-1280638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title routerLink="">Comunidade Lgbt</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" size-xl="4">
      <ion-card>
        
        <img alt="Bandeira Love is Love" src="https://images.pexels.com/photos/4611972/pexels-photo-4611972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Comunidade Lgbt</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="4" size-xl="4">
      <ion-card>
        
        <img alt="Bandeira Love is Love" src="https://images.pexels.com/photos/3738057/pexels-photo-3738057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Comunidade Lgbt</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing le.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Agradecemos pelo Apoio!</ion-title>
  </ion-toolbar>
</ion-footer>
