#header{
    display:flex;
    align-items:end;
    justify-content: end;
}

img{
    width:400px;
    height:400px;
}
h2{
    text-align: center;
}

.plano-de-fundo{
    --background: url('https://images.pexels.com/photos/2027059/pexels-photo-2027059.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center / cover;
 }